@model IEnumerable<goodsstore_backend.Models.Order>

<h2>Список заказов</h2>
<p><a asp-action="create">Добавить заказ</a></p>
<table>
    <tr>
        <th>Имя заказчика</th>
        <th>Код заказчика</th>
        <th>Дата создания заказа</th>
        <th>Дата доставки</th>
        <th>Номер заказа</th>
        <th>Состояние заказа</th>
    </tr>
    @foreach (var order in Model)
    {
        <tr>
            <td>@order.Customer.Name</td>
            <td>@order.Customer.Code</td>
            <td>@order.OrderDate</td>
            @if (order.ShipmentDate == null)
            {
                <td>Неизвестно</td>
            }else
            {
                 <td>@order.ShipmentDate</td>
            }
            <td>@order.OrderNumber</td>
            <td>@order.Status</td>
            <td>
                <a asp-action="edit" asp-route-id="@order.Id">Изменить</a>
            </td>
            <td>
                <form asp-action="delete" method="post" asp-route-id="@order.Id">
                    <input type="submit" value="удалить">
                </form>
            </td>
        </tr>
    }
</table>