@model IEnumerable<Customer>


<h2>Список заказчиков</h2>
<p><a asp-action="create">Добавить заказчика</a></p>
<table>
    <tr>
        <th>
            <a asp-action="index" asp-route-sortOrder="@ViewBag.NameSort">
                Имя
            </a>
        </th>
        <th>
            <a asp-action="index" asp-route-sortOrder="@ViewBag.CodeSort">
                Код
            </a>
        </th>
        <th>
            <a asp-action="index" asp-route-sortOrder="@ViewBag.AddressSort">
                Адрес
            </a>
        </th>
        <th>
            <a asp-action="index" asp-route-sortOrder="@ViewBag.DiscoutSort">
                Скидка
            </a>
        </th>
    </tr>
    @foreach (var customer in Model)
    {
        <tr>
            <td>@customer.Name</td>
            <td>@customer.Code</td>
            <td>@customer.Address</td>
            <td>@customer.Discount%</td>
            <td>
                <a asp-action="edit" asp-route-id="@customer.Id">Изменить</a>
            </td>
            <td>
                <form asp-action="delete" method="post" asp-route-id="@customer.Id">
                    <input type="submit" value="удалить" />
                </form>
            </td>
        </tr>
    }
</table>
